Repository mcost45/package-pal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --log-level warn --write

.lintstagedrc.json:

{
	"*.{ts,js}": "eslint --fix",
	"*.{md,json,yml,toml}": "prettier --log-level warn --write"
}

Implement base CLI
  packages/cli/src/index.ts
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/commands/bump.ts
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/watch.ts
  packages/cli/src/lib/common-parameters.ts
  packages/cli/src/lib/functions/bump.ts
  packages/cli/src/lib/functions/check-circular.ts
  packages/cli/src/lib/functions/init.ts
  packages/cli/src/lib/prompts/select-bump-version-type.ts
  packages/cli/src/lib/prompts/select-package.ts
Due: eslint --fix

Enable lib build/publish
  bun.lock
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.lib.json
  packages/cli/tsconfig.test.json
  packages/core/package.json
  packages/core/tsconfig.lib.json
  packages/core/tsconfig.test.json
  packages/util/package.json
  packages/util/tsconfig.json
  packages/util/tsconfig.lib.json
  packages/util/tsconfig.test.json
  tsconfig.base.json
  tsconfig.tool.json
Due: eslint --fix, prettier --log-level warn --write

Stop run for each on error
  packages/core/src/lib/package/functions/run-for-each-package.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Link compiled binary executables
  .gitignore
  bun.lock
  eslint.config.js
  package.json
  packages/cli/bin/ppal
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/commands/bump.ts
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/common.ts
  packages/cli/src/lib/commands/functions/bump.ts
  packages/cli/src/lib/commands/functions/check-circular.ts
  packages/cli/src/lib/commands/functions/select-bump-version-type.ts
  packages/cli/src/lib/commands/functions/select-package.ts
  packages/cli/src/lib/commands/functions/watch.ts
  packages/cli/src/lib/commands/watch.ts
  packages/cli/src/lib/install/functions/get-path-info.js
  packages/cli/src/lib/install/functions/get-platform-info.js
  packages/cli/src/lib/install/functions/link-existing-binary.js
  packages/cli/src/lib/install/functions/load-missing-binary.js
  packages/cli/src/lib/install/functions/prepare-binary.js
  packages/cli/src/lib/install/functions/validate-binary-version.js
  packages/cli/src/lib/install/install-binary.js
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  packages/core/package.json
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.lib.json
  packages/util/package.json
  packages/util/tsconfig.lib.json
  scripts/build-package.ts
  scripts/compile-cli-target-packages.ts
  scripts/tsconfig.json
  scripts/tsconfig.scripts.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.tool.json
Due: eslint --fix, prettier --log-level warn --write

Validate binary version
  packages/cli/bin/ppal
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/lib/install/functions/exec.js
  packages/cli/src/lib/install/functions/launch-fallback.js
  packages/cli/src/lib/install/functions/validate-binary-version.js
  packages/cli/src/lib/install/install-binary.js
Due: eslint --fix, prettier --log-level warn --write

Fix hang on reading non-existent file; improve partial change logic
  bun.lock
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/graph/functions/merge-graphs.ts
  packages/core/src/lib/package/functions/scan-packages.ts
  packages/core/src/lib/watch/functions/run-subprocess.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/util/package.json
Due: eslint --fix, prettier --log-level warn --write

Add for each command
  bun.lock
  packages/cli/package.json
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/commands/bump.ts
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/for-each.ts
  packages/cli/src/lib/commands/functions/do-bump.ts
  packages/cli/src/lib/commands/functions/do-check-circular.ts
  packages/cli/src/lib/commands/functions/do-for-each.ts
  packages/cli/src/lib/commands/functions/do-watch.ts
  packages/cli/src/lib/commands/watch.ts
  packages/core/src/index.ts
  packages/core/src/lib/api.ts
  packages/core/src/lib/package/functions/run-for-each-package.ts
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/get-line-buffered-writer.ts
  packages/core/src/lib/process/functions/parse-ps-flags.ts
  packages/core/src/lib/process/functions/read-stream.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/process/types/exit-state.ts
  packages/core/src/lib/process/types/std-type.ts
  packages/core/src/lib/types/for-each-command-callback.ts
  packages/core/src/lib/types/for-each-package-options.ts
  packages/core/src/lib/watch/functions/get-change-logic.ts
  packages/core/src/lib/watch/functions/get-commands-for-shell.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/src/lib/watch/types/spawn-options.ts
  packages/util/package.json
  packages/util/src/index.ts
  packages/util/src/lib/functions/escape-shell-arg.ts
  packages/util/src/lib/functions/get-shell.ts
  packages/util/src/lib/functions/run-async.ts
  packages/util/src/lib/types/run-async-type.ts
  packages/util/src/lib/types/shell.ts
Due: eslint --fix, prettier --log-level warn --write

Enable running commands outside of root dir
  packages/cli/package.json
  packages/cli/src/lib/commands/functions/do-bump.ts
  packages/cli/src/lib/commands/functions/do-check-circular.ts
  packages/cli/src/lib/commands/functions/do-for-each.ts
  packages/cli/src/lib/commands/functions/do-watch.ts
  packages/core/src/lib/api.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/types/activated-config.ts
  packages/core/src/lib/package/functions/load-packages.ts
  packages/core/src/lib/package/functions/scan-package-paths.ts
  packages/core/src/lib/package/functions/scan-packages.ts
  packages/core/src/lib/types/get-package-data-options.ts
Due: eslint --fix, prettier --log-level warn --write

Correct CLI postinstall/fallback launcher
  bun.lock
  package.json
  packages/cli/package.json
  packages/cli/src/lib/install/functions/exec.js
  packages/cli/src/lib/install/functions/launch-fallback.js
  packages/cli/src/lib/install/functions/prepare-binary.js
  packages/cli/src/lib/install/functions/validate-binary-version.js
  packages/cli/src/lib/install/install-binary.js
Due: eslint --fix, prettier --log-level warn --write

Fix postinstall EACCES on Linux
  bun.lock
  packages/cli/package.json
  packages/cli/src/lib/install/functions/load-missing-binary.js
  packages/cli/src/lib/install/functions/prepare-binary.js
Due: eslint --fix, prettier --log-level warn --write

Try baseline target for Linux segfault
  bun.lock
  package.json
  packages/cli/package.json
  scripts/compile-cli-target-packages.ts
Due: eslint --fix, prettier --log-level warn --write

Revert unnecessary baseline targets
  scripts/compile-cli-target-packages.ts
Due: eslint --fix

Change stderr subprocess id prefix to yellow
  bun.lock
  eslint.config.js
  package.json
  packages/core/src/lib/process/functions/read-stream.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
Due: eslint --fix, prettier --log-level warn --write

Use single definition for possible package.json dependency fields
  bun.lock
  package.json
  packages/core/src/lib/graph/functions/generate-graphs.ts
  packages/core/src/lib/package/functions/update-package-version.ts
  packages/core/src/lib/package/types/dependencies-field.ts
  packages/core/src/lib/package/types/package-data.ts
  scripts/compile-cli-target-packages.ts
Due: eslint --fix, prettier --log-level warn --write

Enable multiple long-running ready/error condition strings
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/util/src/lib/functions/get-string-matcher.ts
Due: eslint --fix

Add onInit watch hook
  packages/cli/src/lib/commands/functions/do-watch.ts
  packages/core/src/lib/api.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/configuration/types/config.ts
  packages/core/src/lib/types/root-dir-options.ts
  packages/core/src/lib/types/watch-packages-options.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Remove debounce on watch init
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Add concurrency control for watch/for each commands
  bun.lock
  package.json
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/commands/bump.ts
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/for-each.ts
  packages/cli/src/lib/commands/functions/do-for-each.ts
  packages/core/src/lib/api.ts
  packages/core/src/lib/configuration/functions/check-bun.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/package/functions/parse-package.ts
  packages/core/src/lib/package/functions/run-for-each-package.ts
  packages/core/src/lib/package/functions/scan-package-paths.ts
  packages/core/src/lib/package/functions/update-package-version.ts
  packages/core/src/lib/package/types/package-data.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/types/bump-package-version-options.ts
  packages/core/src/lib/types/for-each-package-options.ts
  packages/core/src/lib/types/get-config-options.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/util/src/index.ts
  packages/util/src/lib/functions/run-async.ts
  packages/util/src/lib/types/deep-required.ts
  packages/util/src/lib/types/is-optional-key.ts
  packages/util/src/lib/types/run-async-type.ts
  ppal.config.ts
  tsconfig.base.json
Due: eslint --fix, prettier --log-level warn --write

Decouple binary package versions from CLI package version
  bun.lock
  package.json
  packages/cli/package.json
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/install/functions/get-path-info.js
  packages/cli/src/lib/install/functions/launch-fallback.js
  packages/cli/src/lib/install/functions/load-missing-binary.js
  packages/cli/src/lib/install/functions/prepare-binary.js
  packages/cli/src/lib/install/functions/validate-binary-version.js
  packages/core/package.json
  packages/util/package.json
  scripts/compile-cli-target-packages.ts
Due: eslint --fix, prettier --log-level warn --write

Restore correct watch subgraph tracking
  bun.lock
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/util/package.json
Due: eslint --fix, prettier --log-level warn --write

Replace yoctocolors with util.styleText
  bun.lock
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/graph/functions/generate-graphs.ts
  packages/core/src/lib/graph/functions/generate-package-circular-dependency-paths.ts
  packages/core/src/lib/graph/functions/generate-topological-sorted-groups.ts
  packages/core/src/lib/package/functions/load-packages.ts
  packages/core/src/lib/package/functions/scan-packages.ts
  packages/core/src/lib/package/functions/update-package-version.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/watch/functions/get-change-logic.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix, prettier --log-level warn --write

Utilise Bun package catalog versions
  bun.lock
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/util/package.json
  scripts/build-package.ts
Due: eslint --fix, prettier --log-level warn --write

Ensure package types are always included
  eslint.config.js
  packages/cli/package.json
  packages/core/package.json
  packages/util/package.json
  scripts/build-package.ts
  scripts/check-dist-types-exist.ts
Due: eslint --fix, prettier --log-level warn --write

Support ignore globs for watch mode
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/configuration/types/subprocess-callback.ts
  packages/core/src/lib/watch/functions/normalise-pattern-separators.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Harden running shell commands
  bun.lock
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/parse-ps-flags.ts
  packages/core/src/lib/process/functions/parse-ps-shell-flags.ts
  packages/util/package.json
  packages/util/src/lib/functions/escape-shell-arg.ts
  packages/util/src/tests/escape-shell-arg.test.ts
  packages/util/src/tests/x.ts
  packages/util/tsconfig.test.json
Due: eslint --fix, prettier --log-level warn --write

Correct watch debounce behaviour (file change list)
  .lintstagedrc.json
  bun.lock
  bunfig.toml
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix, prettier --log-level warn --write

Bump dependencies
  bun.lock
  package.json
  packages/cli/package.json
  packages/cli/src/lib/install/functions/get-platform-info.js
  packages/core/package.json
  scripts/compile-cli-target-packages.ts
Due: eslint --fix, prettier --log-level warn --write

Fix: resolve deadlock in watch mode subprocess concurrency
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Fix: handle file deletions in watcher
  packages/core/src/lib/watch/functions/filter-files-modified-since.ts
Due: eslint --fix

Fix: ensure config resolution is deterministic
  packages/core/src/lib/configuration/functions/search-config-path.ts
Due: eslint --fix

Verify bun file.text() process end behaviour
  packages/core/src/lib/package/functions/scan-packages.ts
Due: eslint --fix

Harden CLI (post)install behaviour
  packages/cli/src/lib/install/functions/exec.js
  packages/cli/src/lib/install/functions/link-existing-binary.js
  packages/cli/src/lib/install/functions/load-missing-binary.js
  packages/cli/src/lib/install/functions/prepare-binary.js
Due: eslint --fix

CLI 0.0.45, Core 0.0.8
  packages/cli/package.json
Due: prettier --log-level warn --write

Extract bun usage from shared util package
  bun.lock
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/package/functions/scan-glob-pattern-paths.ts
  packages/core/src/lib/package/functions/scan-package-paths.ts
  packages/core/src/lib/process/functions/escape-shell-arg.ts
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/get-shell.ts
  packages/core/src/lib/types/shell.ts
  packages/core/src/tests/escape-shell-arg.test.ts
  packages/core/src/tests/x.ts
  packages/core/tsconfig.test.json
  packages/util/package.json
  packages/util/src/index.ts
Due: eslint --fix, prettier --log-level warn --write

TypeScript 6.0
  bun.lock
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/src/lib/install/functions/get-path-info.js
  packages/cli/src/lib/install/functions/link-existing-binary.js
  packages/cli/src/lib/install/functions/prepare-binary.js
  packages/cli/tsconfig.lib.json
  packages/core/src/lib/watch/functions/dedupe-shared-paths.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/src/lib/watch/types/dedupe-paths-by.ts
  packages/core/tsconfig.lib.json
  packages/core/tsconfig.test.json
  packages/util/src/index.ts
  packages/util/tsconfig.lib.json
  scripts/tsconfig.scripts.json
  tsconfig.tool.json
Due: eslint --fix, prettier --log-level warn --write

Clean PowerShell CLIXML handling
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/process/functions/strip-clixml.ts
Due: eslint --fix

Improve for each usage
  packages/cli/src/lib/commands/for-each.ts
  packages/cli/src/lib/commands/functions/do-for-each.ts
  packages/core/src/lib/package/functions/run-for-each-package.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/tests/run-subprocess.test.ts
Due: eslint --fix

Improve shell + command detection
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/graph/functions/generate-graphs.ts
  packages/core/src/lib/graph/functions/generate-package-circular-dependency-paths.ts
  packages/core/src/lib/graph/functions/generate-topological-sorted-groups.ts
  packages/core/src/lib/package/functions/load-packages.ts
  packages/core/src/lib/package/functions/scan-glob-pattern-paths.ts
  packages/core/src/lib/package/functions/scan-packages.ts
  packages/core/src/lib/package/functions/update-package-version.ts
  packages/core/src/lib/process/functions/escape-shell-arg.ts
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/get-shell.ts
  packages/core/src/lib/process/functions/parse-ps-shell-flags.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/watch/functions/get-change-logic.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/tests/escape-shell-arg.test.ts
  packages/core/tests/get-commands-for-shell.test.ts
  packages/core/tests/parse-ps-shell-flags.test.ts
Due: eslint --fix

Improve CLI UX
  packages/cli/src/lib/commands/functions/select-bump-version-type.ts
  packages/cli/src/lib/commands/functions/select-package.ts
Due: eslint --fix
