Repository mcost45/package-pal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --log-level warn --write

.lintstagedrc.json:

{
	"*.{ts,js}": "eslint --fix",
	"*.{md,json,yml}": "prettier --log-level warn --write"
}

Bump deps
  bun.lock
  package.json
  packages/cli/package.json
  packages/cli/src/lib/commands/common.ts
  packages/core/package.json
  packages/core/src/lib/process/functions/get-commands-for-shell.ts
  packages/core/src/lib/process/functions/get-line-buffered-writer.ts
  packages/core/src/lib/process/functions/parse-ps-shell-flags.ts
  packages/core/src/lib/process/functions/read-stream.ts
  packages/core/src/lib/process/functions/run-subprocess.ts
  packages/core/src/lib/process/functions/strip-clixml.ts
  packages/core/tests/escape-shell-arg.test.ts
  packages/core/tests/parse-ps-shell-flags.test.ts
  packages/core/tsconfig.test.json
Due: eslint --fix, prettier --log-level warn --write

Harden graph + watch functionality
  packages/cli/src/lib/commands/functions/select-package.ts
  packages/core/src/lib/graph/functions/dfs-traverse-graph-paths.ts
  packages/core/src/lib/graph/functions/generate-topological-sorted-groups.ts
  packages/core/src/lib/package/functions/run-for-each-package.ts
  packages/core/src/lib/watch/functions/get-change-logic.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/tests/graph.test.ts
  packages/core/tests/watch.test.ts
Due: eslint --fix

Add auto adapter resolver
  packages/adapter-csproj/src/lib/csproj-adapter.ts
  packages/adapter-package-json/src/lib/package-json-adapter.ts
  packages/cli/src/lib/commands/functions/do-bump.ts
  packages/cli/src/lib/commands/functions/do-check-circular.ts
  packages/cli/src/lib/commands/functions/do-for-each.ts
  packages/cli/src/lib/commands/functions/do-watch.ts
  packages/cli/src/lib/commands/functions/get-adapter.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/package/types/package-adapter.ts
Due: eslint --fix

Msbuild: add slnx support
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/parse-sln.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
Due: eslint --fix

Improve perf
  packages/adapter-msbuild/src/lib/functions/find-nodes.ts
  packages/adapter-msbuild/src/lib/functions/get-element-text.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/read-projects.ts
  packages/adapter-msbuild/src/lib/functions/resolve-msbuild-name.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-package-json/src/lib/package-json-adapter.ts
  packages/core/src/lib/graph/functions/extract-subgraph.ts
  packages/core/src/lib/watch/functions/filter-files-modified-since.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
Due: eslint --fix

Improve msbuild implementation
  bun.lock
  package.json
  packages/adapter-csproj/src/index.ts
  packages/adapter-msbuild/package.json
  packages/adapter-msbuild/src/index.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-version.ts
  packages/adapter-msbuild/src/lib/functions/find-nodes.ts
  packages/adapter-msbuild/src/lib/functions/get-element-text.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/resolve-msbuild-name.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
  packages/adapter-msbuild/tsconfig.json
  packages/adapter-msbuild/tsconfig.lib.json
  packages/adapter-msbuild/tsconfig.test.json
  packages/cli/package.json
  packages/cli/src/lib/commands/functions/get-adapter.ts
  packages/cli/tsconfig.lib.json
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/package/types/package-adapter.ts
  tsconfig.json
Due: eslint --fix, prettier --log-level warn --write

Add list command to CLI (vis dep tree)
  packages/cli/src/lib/app.ts
  packages/cli/src/lib/commands/functions/do-list.ts
  packages/cli/src/lib/commands/functions/generate-graph-tree.ts
  packages/cli/src/lib/commands/list.ts
  packages/cli/src/tests/x.ts
  packages/cli/tests/generate-graph-tree.test.ts
  packages/cli/tsconfig.lib.json
  packages/cli/tsconfig.test.json
Due: eslint --fix, prettier --log-level warn --write

Improve default msbuild package detection
  packages/adapter-msbuild/src/lib/functions/parse-sln.ts
  packages/adapter-msbuild/src/lib/functions/read-projects.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
  packages/core/src/lib/configuration/functions/load-config.ts
Due: eslint --fix

Improve CLI list output
  packages/adapter-msbuild/package.json
  packages/adapter-package-json/package.json
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/functions/do-check-circular.ts
  packages/cli/src/lib/commands/functions/do-list.ts
  packages/cli/src/lib/commands/functions/generate-graph-tree.ts
  packages/cli/src/lib/commands/list.ts
  packages/cli/tests/generate-graph-tree.test.ts
  packages/core/package.json
Due: eslint --fix, prettier --log-level warn --write

CLI 0.0.47, Core 0.0.11
  bun.lock
  package.json
  packages/adapter-msbuild/package.json
  packages/adapter-package-json/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/util/package.json
Due: prettier --log-level warn --write

CLI 0.0.48
  bun.lock
  packages/cli/package.json
  packages/cli/src/lib/install/functions/exec.js
Due: eslint --fix, prettier --log-level warn --write

Streamline adapter pattern; remove leaky logic
  bun.lock
  package.json
  packages/adapter-msbuild/package.json
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/find-nodes.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-package-json/package.json
  packages/adapter-package-json/src/lib/functions/find-and-replace-json-version.ts
  packages/adapter-package-json/src/lib/functions/parse-package-json.ts
  packages/adapter-package-json/src/lib/package-json-adapter.ts
  packages/cli/package.json
  packages/cli/src/lib/commands/functions/get-adapter.ts
  packages/core/package.json
  packages/core/src/lib/api.ts
  packages/core/src/lib/package/functions/bump-package-version.ts
  packages/core/src/lib/package/functions/load-packages.ts
  packages/core/src/lib/package/types/package-adapter.ts
Due: eslint --fix, prettier --log-level warn --write

Harden package.json version replacement
  bun.lock
  packages/adapter-package-json/package.json
  packages/adapter-package-json/src/lib/functions/find-and-replace-json-version.ts
  packages/adapter-package-json/tests/adapter-package-json.test.ts
Due: eslint --fix, prettier --log-level warn --write

Support msbuild CPM file versioning
  packages/adapter-msbuild/src/lib/functions/analyze-cpm-file.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/find-cpm-file.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
Due: eslint --fix

Harden msbuild version replacement
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-version.ts
  packages/adapter-msbuild/src/lib/functions/escape-xml.ts
  packages/adapter-msbuild/src/lib/functions/stringify-msbuild.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
Due: eslint --fix

Harden sln/x parsing
  packages/adapter-msbuild/src/lib/functions/parse-sln.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
Due: eslint --fix

Improve msbuild readability
  packages/adapter-msbuild/src/lib/functions/process-and-yield-projects.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-adapter.test.ts
  packages/adapter-msbuild/tests/msbuild-cpm.test.ts
  packages/adapter-msbuild/tests/msbuild-functions.test.ts
  packages/adapter-msbuild/tests/msbuild-solutions.test.ts
Due: eslint --fix

Correct msbuild exact version option usage and replace formatting
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-version.ts
  packages/adapter-msbuild/src/lib/functions/stringify-msbuild.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-functions.test.ts
Due: eslint --fix

Perf pass
  packages/adapter-msbuild/src/lib/functions/analyze-cpm-file.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-version.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/parse-sln.ts
  packages/adapter-msbuild/src/lib/functions/stringify-msbuild.ts
  packages/adapter-package-json/src/lib/functions/parse-package-json.ts
  packages/core/src/lib/graph/functions/generate-graphs.ts
  packages/core/src/lib/graph/functions/generate-topological-sorted-groups.ts
  packages/core/src/lib/watch/functions/dedupe-shared-paths.ts
  packages/core/src/lib/watch/functions/normalise-watched-file-path.ts
  packages/util/src/lib/functions/normalise-path.ts
Due: eslint --fix

Extend tests
  .gitignore
  packages/adapter-msbuild/tests/msbuild-cpm.test.ts
  packages/adapter-package-json/src/lib/package-json-adapter.ts
  packages/adapter-package-json/tests/adapter-package-json.test.ts
Due: eslint --fix

Extend msbuild adapter CPM support
  packages/adapter-msbuild/src/lib/functions/bump-msbuild-reference-version.ts
  packages/adapter-msbuild/src/lib/functions/collect-properties.ts
  packages/adapter-msbuild/src/lib/functions/find-property-files.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/parse-sln.ts
  packages/adapter-msbuild/src/lib/functions/process-and-yield-projects.ts
  packages/adapter-msbuild/src/lib/functions/update-msbuild-property.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/src/lib/types/package-version-source-type.ts
  packages/adapter-msbuild/tests/msbuild-cpm.test.ts
  packages/adapter-msbuild/tests/msbuild-properties.test.ts
  packages/adapter-msbuild/tests/msbuild-solutions.test.ts
  packages/core/src/lib/graph/functions/dfs-traverse-graph-paths.ts
  packages/core/src/lib/graph/functions/dfs-traverse-graph.ts
  packages/core/src/lib/watch/functions/filter-files-modified-since.ts
Due: eslint --fix

CLI 0.0.49, Core 0.0.12
  bun.lock
  packages/adapter-msbuild/package.json
  packages/adapter-package-json/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/util/package.json
Due: prettier --log-level warn --write

Fix race condition
  bun.lock
  package.json
  packages/adapter-msbuild/package.json
  packages/adapter-msbuild/src/lib/functions/find-cpm-file.ts
  packages/adapter-msbuild/src/lib/functions/parse-msbuild.ts
  packages/adapter-msbuild/src/lib/functions/process-and-yield-projects.ts
  packages/adapter-msbuild/src/lib/functions/read-projects.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/adapter-msbuild/tests/msbuild-cpm.test.ts
  packages/adapter-msbuild/tests/msbuild-solutions.test.ts
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/lib/package/functions/bump-package-version.ts
  packages/core/src/lib/package/functions/load-packages.ts
  packages/core/src/lib/package/functions/scan-glob-pattern-paths.ts
  packages/core/src/lib/watch/functions/dedupe-shared-paths.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/tests/package-loading.test.ts
Due: eslint --fix, prettier --log-level warn --write

Add cascade option for version bumping
  bun.lock
  package.json
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/cli/package.json
  packages/cli/src/lib/commands/bump.ts
  packages/cli/src/lib/commands/check-circular.ts
  packages/cli/src/lib/commands/for-each.ts
  packages/cli/src/lib/commands/functions/do-bump.ts
  packages/cli/src/lib/commands/functions/select-cascade-bump-version-type.ts
  packages/cli/src/lib/commands/list.ts
  packages/core/package.json
  packages/core/src/lib/package/functions/bump-package-version.ts
  packages/core/src/lib/types/bump-package-version-options.ts
  packages/core/src/lib/types/bump-version-type.ts
  packages/core/tests/bump-cascade.test.ts
Due: eslint --fix, prettier --log-level warn --write

Improve list command UX
  packages/cli/src/lib/commands/functions/do-list.ts
  packages/cli/src/lib/commands/functions/generate-graph-tree.ts
  packages/cli/src/lib/commands/list.ts
  packages/cli/tests/generate-graph-tree.test.ts
Due: eslint --fix

Add optional hook callbacks for bump command
  packages/core/src/index.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/configuration/types/activated-config.ts
  packages/core/src/lib/configuration/types/bump-package-callback-props.ts
  packages/core/src/lib/configuration/types/bump-packages-ready-callback-props.ts
  packages/core/src/lib/configuration/types/config.ts
  packages/core/src/lib/configuration/types/packages-ready-callback-props.ts
  packages/core/src/lib/configuration/types/process-package-callback-props.ts
  packages/core/src/lib/package/functions/bump-package-version.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/tests/bump-cascade.test.ts
Due: eslint --fix

Add ignore option for bump command
  packages/core/src/index.ts
  packages/core/src/lib/configuration/functions/get-ignore-globs.ts
  packages/core/src/lib/configuration/functions/load-config.ts
  packages/core/src/lib/configuration/schemas/config.ts
  packages/core/src/lib/configuration/types/config.ts
  packages/core/src/lib/graph/functions/dfs-traverse-graph.ts
  packages/core/src/lib/package/functions/bump-package-version.ts
  packages/core/src/lib/watch/functions/watch-package-changes.ts
  packages/core/tests/bump-cascade.test.ts
Due: eslint --fix

Clean
  packages/adapter-msbuild/src/lib/functions/find-property-files.ts
  packages/adapter-msbuild/src/lib/msbuild-adapter.ts
  packages/core/src/lib/package/functions/scan-glob-pattern-paths.ts
  packages/core/src/lib/watch/functions/filter-files-modified-since.ts
Due: eslint --fix

CLI 0.0.50, Core 0.0.14
  bun.lock
  packages/adapter-msbuild/package.json
  packages/cli/package.json
  packages/core/package.json
Due: prettier --log-level warn --write
